.window{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.textos{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.imagen{
   width: 110%;
}

.details-bar{
    padding: 30px;
}