.imagen{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.dialog-text{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}


.App > h1{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 50px;
}

.calendario{
    padding: 90px;
}